# ===============================
# Dataset (large files)
# ===============================
dataset_raw/
flame-dataset/

# ===============================
# Trained models & checkpoints
# ===============================
models/
*.ckpt

# ===============================
# PyTorch Lightning logs
# ===============================
lightning_logs/

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Virtual environment
# ===============================
.venv/
venv/

# ===============================
# OS / IDE
# ===============================
.DS_Store
.idea/
.vscode/